@import '../../../../styles/css/common';

.shipping_contact_wrap{
  display: grid;
  grid-template-columns: 1fr 35%;
  gap: 100px;
  @include mid-break {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}

.billing_wrap{
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.2s ease-in-out, opacity ease 0.2s;
}

.billing_wrap_show{
  max-height: 700px;
  opacity: 1;
}

.contact_header,
.shipping_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  align-items: baseline;
  h2{
    font-size: 28px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  button{
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.contact_input_wrapper,
.shipping_input_wrapper_2col{
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  column-gap: 16px;
  input{
    border-radius: 8px;
    margin: 0;
    height: 44px;
  }
}

.shipping_input_wrapper_1col{
  display: grid;
  grid-template-columns: repeat(1, minmax(0,1fr));
  input{
    border-radius: 8px;
    margin: 0;
    height: 44px;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 25px;
  justify-content: space-between;
  @include small-break
}

.shipping_information_card{
  border: 0.5px solid var(--primary-dark);
  border-radius: 8px;
  padding: 12.5px 25px;
  background: var(--background-modal-4);
}

.shipping_information_content_wrapper{
  display: flex;
  align-items: flex-start;
}

.shipping_information_content_grid{
  display: flex;
  flex-direction: row;
  @include small-break{
    flex-direction: column;
    row-gap: 8px;
  }
  column-gap: 4px;
  width: 100%;
}

.shipping_information_content_column{
  display: flex;
  flex-direction: column;
  min-width: 33.3%;
  @include small-break{
    min-width: 100%;
  }
}

.shipping_information_content_column_header{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

.shipping_information_content_value{
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-dim);
}





/////

.items {
  margin: 30px 0;
}

.header {
  display: grid;
  grid-template-columns: 80px 5fr 1fr;
  gap: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--primary-dark);

  @include small-break {
    display: none;
  }
}

.headerItemDetails {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.headersubtotal {
  text-align: end;
}

.subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orderTotal {
  margin-top: 25px;
  font-weight: 600;
  text-align: end;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 60px;
  background-color: var(--primary-dark);
}

.payment {
  margin-bottom: 40px;
}

.loading,
.error {
  margin-top: 30px;
}

.saved_address_wrap{
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 24px;
  box-shadow: 0 4px 8px var(--background-modal-4);
  border: 1px solid var(--primary-dim2)
}

.saved_address_description{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.saved_address_button_wrap{
  position: relative;
  button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-dim2);
    border-radius: 8px;
    width: 100%;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    &:hover{
      border-color: var(--primary-dim);
    }
  }
  svg{
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
}

.dropdown_active{
  svg {
    transform: rotate(-180deg); // Rotate SVG 180 degrees on hover
  }
}

.saved_address_button_dropDown{
  background: var(--background);
  border-radius: 8px;
  border: 1px solid var(--primary-dim2);
  max-height: 0px;
  overflow: auto;
  width: 100%;
  z-index: 20;
  position: absolute;
  margin-top: 5px;
  padding: 12.5px 20px;
  opacity: 0;
  transition: max-height 0.2s ease-in-out, opacity ease 0.2s;
}

.saved_address_button_dropDown_active{
  max-height: 240px;
  opacity: 1;
}

.saved_address_button_span{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.radioButton_input_wrapper_circle{
  min-width: 16px;
  height: 16px;
  border: 1px solid var(--primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioButton_input_wrapper_circle_inner_active{
    background-color: var(--primary) !important;
}

.radioButton_input_wrapper_circle_inner{
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.saved_address_list_item{
  position: relative;
  padding-left: 24px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  button{
    cursor: pointer;
    &:hover{
      box-shadow: 0 4px 8px var(--background-modal-4);
    }
  }
  
}
.saved_address_list_item_active{
  button{
    border-color: var(--primary-dim);
  }
}

.saved_address_list_item_wrapper{
  display: flex;
  column-gap: 16px;
  align-items: flex-start;
}

.saved_address_list_item_address_wrapper{
  display: flex;
  flex-direction: column;
}

.saved_address_list_item_address_name{
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.saved_address_list_item_address_company{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.saved_address_list_item_address_address{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.billing_same_button_wrapper{
  margin-top: 32px;
  margin-bottom: 32px;
}

.billing_same_button_container{
  display: flex;
  align-items: center;
  input{
    max-width: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
      position: relative !important;
      top: 0 !important;
      right: 0 !important;
    }
   
  }
}

.billing_same_button_label{
  margin-left: 8px;
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}