.checkboxWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background-color: var(--background);
    border: 1px solid var(--primary);
    outline: none;
    cursor: pointer;
  }
  
  .checkbox:checked {
    background-color: var(--primary);
    position: relative;
  }
  
  .checkbox:checked::before {
    content: '✓';
    font-size: 14px;
    font-weight: bold;
    color: var(--background);
    position: absolute;
    right: 5px;
    top: 3px;
  }